<h3>Owner information</h3>

<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Name</a> 

    <a class="content">Charles Li

    </a>

    <button mat-button>Change</button>
</div>


<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Email</a> 

    <a class="content" >1259056107@qq.com</a>
    <button mat-button   >update</button>
    
</div>
<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Address</a> 

    <a class="content" >10 main street(Home)</a>
    <button mat-button   >Update</button>
    
</div>
<div>
    <a class="content" >10 main street(Business)</a>
</div>
<mat-divider class="divider1"></mat-divider>
<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Tax </a> 

    <a class="content" >taxID:2
    </a>
    <button mat-button   >Edit </button>
    
</div>
<div>
    <a class="content" >taxType:new-SSN</a>
    <button mat-button   >Edit taxType</button>
</div>
<div class="div1">
    <a class="content" >taxNumber:new-xxx-xxx-55</a>
    <button mat-button   >Edit taxNumber</button>
</div>

<mat-divider class="divider"></mat-divider>
<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Customers Service ID</a> 

    <a class="content" >Your limits can be changed by your superviser</a>
    <button mat-button   >Update</button>
    
</div>
<mat-divider></mat-divider>