<h2 style="margin-top: 60px;text-align:center;">Setup your account,pay later</h2>
<h1 style="font-weight: 300;text-align:center;margin-top: 20px;">Try 3D.RTC free for 14 days with no charge</h1>
<div align="center" style="margin-top:20px;"><button mat-raised-button color="primary" > Start free trail</button></div>


<div align="center" style="margin-top:20px;">
    <table>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <h2 style="font-weight:400">Basic RTC</h2>
                    <a>All bsdics for 3D.RTC usage 1 to 1 vedio conference unlimited messaging</a>
                </td>
                <td><h2 style="font-weight:400">RTC</h2>
                    <a>Basic +1 to many video conference with limited 20 hours per month</a>
                </td>
                <td>
                    <h2 style="font-weight:400">Advanced RTC</h2>
                    <a>RTC + many to many video conference with unlimited hours</a>
                </td>
            </tr>
            <tr>
                <td>Monthly price</td>
                <td><a>USD $ </a><a style="font-size: 30px;">29</a><a>/mo</a></td>
                <td><a>USD $ </a><a style="font-size: 30px;">79</a><a>/mo</a></td>
                <td><a>USD $ </a><a style="font-size: 30px;">299</a><a>/mo</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <footer style="position: absolute;bottom: -400px;width: 100%;"><app-tail></app-tail></footer>
</div>