<body>
    <div class="information">
        <div>
            <a>商品名称:</a>
            <a>
                <mat-form-field class="example-form-field">
                    <input matInput class="input" [(ngModel)]="this. Prodcontent.ProductName">
                </mat-form-field>
            </a>
        </div>
        <textarea style="width: 250px;height: 70px;" [(ngModel)]="this. Prodcontent.ProductIntruduction"></textarea>
        <div style="font-size: 9px; color: gray;">请为您的商品添加介绍(最多200字)</div>
        <div style="margin-top: 50px;">
            <a>商品类别：</a>
            <a>
                <select>
                    <option>Volvo</option>
                    <option>Saab</option>
                    <option>Opel</option>
                    <option>Audi</option>
                </select>
            </a>
        </div>
        <div style="margin-top: 30px;">
            <a>商品数量：</a>
            <a>
                <mat-form-field class="example-form-field">
                    <input matInput class="input" [(ngModel)]="inventory">
                </mat-form-field>
            </a>
        </div>
        <div>
            <a>商品单价：</a>
            <a>
                <mat-form-field class="example-form-field">
                    <input matInput class="input" [(ngModel)]="price">
                </mat-form-field>
            </a>
        </div>

        <div>
            <a>商品图片：</a>
            <input type="file" id="add" (change)="getPicture($event)" accept="image/*"
            style="display:none" />
            <button mat-stroked-button class="button" id="pushButton" (click)="pushButton()"
            style="margin-left: 400px;">Choose Images</button>

            <div *ngIf="picflag">
                <img class="img3" src="{{imgData}}">
             </div>

        </div>



        <div style="text-align:center;margin-top: 30px;"><button mat-raised-button color="primary"
                (click)="addproduct()">提交</button></div>
    </div>




</body>