<!-- 
<div style="width: 100%;">
    
<a><button mat-button style="width:100%;height: 700px;">
    <img src="assets/image/ebarter.png" style="width:800px;height: 400px;margin-bottom: 50px;"> 
    <br>
    <a style="font-size: 80px;margin-top: -50px;">ebarter</a>
    <img src="assets/image/易巴特logo.jpg" style="width:170px;height: 70px;">
    <br>
    <div style="margin-top:30px;font-size: 18px; ">
        <a>开启电子商务</a>
        <br>
        <a>------------介绍语------------</a>
    </div>
    
</button></a>

<br>

<div>
<a><button mat-button style="width:100%;height: 870px;background-image:url(assets/image/fresh1.png);min-width: none;-moz-background-size:100% 100%; background-size:100% 100%; ">
    

    <a style="font-size: 80px;margin-top: -320px;margin-left:-480px;position: absolute;">ReallyFresh</a>
</button></a>
</div>

<div>
    <footer style="position: absolute;bottom: -1200px;width: 100%;"><app-tail></app-tail></footer>
</div>

  -->
<!-- 文字简介易巴特（总结篇） -->
<div class="why">

    <div class="hd">
        <p class="p1">为什么选择<span class="eBarter">eBarter</span></p>
        <p class="p2">易货的理念是以货易货,平台涵盖用户的商品管理、交易、结算，佣金管理，扫码支付等功能</p>
    </div>

    <div class="bd">
        <ul class="hb">
            <li>
                <div class="h">云原生、微服务、高扩展、高弹性</div>
                <div class="b">
                    云端访问、随时随地、快速高效
                    <br>
                    多端展示、方便快捷
                    <br>
                    实时交易、移动下单、移动审批、移动分析、移动社交
                </div>
            </li>
            <li>
                <div class="h">生态融合</div>
                <div class="b">
                    YonSuite&YonBuilder
                    <br>
                    全面支持技术平台的开放与合作生态的连接
                    <br>
                    提供全方位一体化的产业共创共享平台
                </div>
            </li>
            <li>
                <div class="h">生态融合</div>
                <div class="b">
                    YonSuite&YonBuilder
                    <br>
                    全面支持技术平台的开放与合作生态的连接
                    <br>
                    提供全方位一体化的产业共创共享平台
                </div>
            </li>
            <li>
                <div class="h">生态融合</div>
                <div class="b">
                    YonSuite&YonBuilder
                    <br>
                    全面支持技术平台的开放与合作生态的连接
                    <br>
                    提供全方位一体化的产业共创共享平台
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- 功能篇：点击详情对功能进行介绍 -->
<br>
<br>
<div class="functionality">
    <div class="list_nav">
        <ul id="clearfix">
            <li id='one' class='on' (click)='addClass($event)'><a href="javascript:;" ></a>商品管理</li>
            <li id='two' (click)='addClass($event)'><a href="javascript:;" ></a>商品交易</li>
            <li id='three' (click)='addClass($event)'><a href="javascript:;" ></a>佣金管理</li>
            <li id='four' (click)='addClass($event)'><a href="javascript:;" ></a>支付功能</li>
            <li id='five' (click)='addClass($event)'><a href="javascript:;" ></a>易入需求</li>
        </ul>
    </div>

    <div class="list_box" id="list_box">
       
            <div id="oneSear">
                <div class="f1 img">
                    <img src="../../../assets/image/ebarter.png" alt="这是一张图片！">
                </div>
                <div class="f1 text">
                    <p class="p1" >易货平台01</p>
                    <p class="p2">发布易入需求,发布易出商品,查看、编辑、删除、上架和下架已发布商品</p>
                    <button class="b1 car_btn01">查看详情</button>
                    <button class="b2 car_btn02">播放视频</button>
                </div>
            </div>
            <div id='twoSear' class="Notavtivate">
                <div class="f1 img">
                    <img src="../../../assets/image/ebarter.png" alt="这是一张图片！">
                </div>
                <div class="f1 text">
                    <p class="p1">易货平台02</p>
                    <p class="p2">发布易入需求,发布易出商品,查看、编辑、删除、上架和下架已发布商品</p>
                    <button class="b1 car_btn01">查看详情</button>
                    <button class="b2 car_btn02">播放视频</button>
                </div>
            </div>
            <div id='threeSear'  class="Notavtivate">
                <div class="f1 img">
                    <img src="../../../assets/image/ebarter.png" alt="这是一张图片！">
                </div>
                <div class="f1 text">
                    <p class="p1">易货平台03</p>
                    <p class="p2">发布易入需求,发布易出商品,查看、编辑、删除、上架和下架已发布商品</p>
                    <button class="b1 car_btn01">查看详情</button>
                    <button class="b2 car_btn02">播放视频</button>
                </div>
            </div>
            <div id='fourSear'  class="Notavtivate">
                <div class="f1 img">
                    <img src="../../../assets/image/ebarter.png" alt="这是一张图片！">
                </div>
                <div class="f1 text">
                    <p class="p1">易货平台04</p>
                    <p class="p2">发布易入需求,发布易出商品,查看、编辑、删除、上架和下架已发布商品</p>
                    <button class="b1 car_btn01">查看详情</button>
                    <button class="b2 car_btn02">播放视频</button>
                </div>
            </div>
            <div id='fiveSear'  class="Notavtivate">
                <div class="f1 img">
                    <img src="../../../assets/image/ebarter.png" alt="这是一张图片！">
                </div>
                <div class="f1 text">
                    <p class="p1">易货平台05</p>
                    <p class="p2">发布易入需求,发布易出商品,查看、编辑、删除、上架和下架已发布商品</p>
                    <button class="b1 car_btn01">查看详情</button>
                    <button class="b2 car_btn02">播放视频</button>
                </div>
            
            </div>
        
    </div>
</div>

