<h3>Business information</h3>

<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Business information</a> 

    <a class="content">3Droplets TechnologyLTD.
       

    </a>

    <button mat-button   >Update</button>
</div>


<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">3D Company ID</a> 

    <a class="content" >27G3867M8297</a>
    <button mat-button   >Update</button>
    
</div>
<mat-divider></mat-divider>

