
<h3 class="title1">Personal Information</h3>


<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">NickName</a> 

    <a class="content">{{nickname}}</a>
    
    <button mat-button (click)= "put1()">Set</button>
</div>
<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">FirstName</a> 

    <a class="content">{{firstname}}</a>
    <button mat-button (click)= "put2()"  >Set</button>
</div>
<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">LastName</a> 

    <a class="content">{{lastname}}</a>
    <button mat-button (click)= "put2()"  >Set</button>
</div>
<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">UserRole</a> 

    <a class="content">admin</a>
    <button mat-button (click)= "put3()"  >Update</button>
</div>
<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">UserType</a> 

    <a class="content">{{usertype}}</a>
    <button mat-button (click)= "put3()"  >Update</button>
</div>
<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Email</a> 

    <a class="content">{{email}}</a>
    <button mat-button (click)= "put4()"  >Update</button>
</div>


<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Phone</a> 
  <a class="content">{{phone}}</a>
  
    <button mat-button (click)="put5()"  >Set</button> 
</div>


<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Password</a> 
    <a class="content">••••••••</a>
  
    
    <button mat-button (click)="put6()" >Set</button>
</div>


<mat-divider></mat-divider>
<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Address</a> 

    <a class="content">m_street m_city m_state m_country</a>
    <button mat-button  (click)="put8()">Update</button>
</div>

<mat-divider></mat-divider>
<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">DefaultAddress</a> 

    
    <button mat-button  (click)="put9()" >Set</button>
</div>

