.mat-form-field {
  margin-top: 16px;
  }
.tips2{

  font-size: 9px;
  margin-top: 5px;
}
.thechoice{
  margin-top: 10px;
  margin-bottom: 20px;
}
mat-radio-group{
  margin-bottom: 20px;
}
.continuebutton{
  margin-top: 20px;
}