<h3>Shipping</h3>

<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Shipping ID</a> 

    <a class="content">9</a>
    

    <button mat-button  (click)= "put1()" >Update</button>
</div>


<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Shipping Street</a> 

    <a class="content" >3 Time Square</a>

    <button mat-button   >Update</button>
</div>
<mat-divider></mat-divider>
<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Shipping City </a> 

    <a class="content" >Cross River</a>
    <button mat-button  (click)= "put1()" >Update</button>
</div>
<mat-divider></mat-divider>
<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Shipping State </a> 

    <a class="content" >New York</a>
    <button mat-button  (click)= "put1()" >Update</button>
</div>
<mat-divider></mat-divider>
<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Shipping Country</a> 

    <a class="content" >USA</a>
    <button mat-button  (click)= "put1()" >Update</button>
    
</div>

<mat-divider></mat-divider>

<button mat-button (click)= "post1()"  class="button1">Add a shipping address</button>
<br>
<br>
<mat-divider></mat-divider>