<div class="container">
    <div style="margin-top: 10px; margin-bottom: 10px;">
      <h2>Creat Project </h2>
    </div>
 <mat-divider></mat-divider>
 
  <mat-list>
     <mat-list-item>
        <span style="font-weight: 500; margin-top: 40px; margin-bottom: 20px;margin-right: 10px;">Name</span> 
        <input class="name" type="text" required size="40">
      
     </mat-list-item>
     <mat-divider></mat-divider>
     <mat-list-item>
        <span style="font-weight: 500; margin-top: 45px; margin-bottom: 15px;margin-right: 10px;">Type</span>
        <input class="name1" type="text"  required size="40" > 
     </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item >
         <span style="font-weight: 500; margin-top: 45px; margin-bottom: 15px;margin-right: 10px;">Finished</span>
         <input class="name1" type="text"  required size="40" > 
       </mat-list-item>
     <mat-divider></mat-divider>
     <mat-list-item >
        <span style="font-weight: 500; margin-top: 45px; margin-bottom: 15px;margin-right: 10px;">Begin Time</span>
        <input class="name1" type="text"  required size="40"> 
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item >
         <span style="font-weight: 500; margin-top: 45px; margin-bottom: 15px;margin-right: 10px;">End Time</span>
         <input class="name1" type="text"  required size="40" > 
       </mat-list-item> 
       <mat-divider></mat-divider>
       <mat-list-item >
          <span style="font-weight: 500; margin-top: 45px; margin-bottom: 15px;margin-right: 10px;">Description</span>
          <input class="name1" type="text"  required size="40" > 
        </mat-list-item> 
        <mat-divider></mat-divider>
      <mat-list-item >
         <span style="font-weight: 500; margin-top: 45px; margin-bottom: 15px;margin-right: 10px;">Note</span>
         <input class="name1" type="text"  required size="40" > 
       </mat-list-item> 
      <mat-divider></mat-divider>
      <mat-list-item >
        <button mat-stroked-button class="button"  >Save Project</button>
        <button mat-stroked-button class="button"  style="margin-left: 5px;">Cancel</button>
     </mat-list-item>
  </mat-list>
  
