<h3>{{'Invoices'|translate}}</h3>

<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">InvoiceDelivery</a> 

    <a class="content">deliveryName:air

    </a>

    <button mat-button   >Set</button>
</div>


<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Invoice ID</a> 

    <a class="content" >4</a>
    <button mat-button   >Update</button>

    
</div>
<mat-divider></mat-divider>
<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Invoice Name</a> 

    <a class="content" >zxl</a>
    <button mat-button   >Update</button>

    
</div>
<mat-divider></mat-divider>
<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Order Content</a> 

    <a class="content" >apple * 10</a>
    
    <button mat-button   >Update</button>
    
</div>
<mat-divider></mat-divider>

