<h3>{{'login_and_security'|translate}}</h3>

<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">{{'Email'|translate}}</a> 

    <a class="content">{{email}}
        

    </a>

    <button mat-button  >{{'Update'|translate}}</button>
</div>


<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">{{'Phone'|translate}}</a> 

    <a class="content" >{{phone}}</a>

    <button mat-button  >{{'Update'|translate}}</button> 
</div>


<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">{{'Password'|translate}}</a> 

    <a class="content" >••••••</a>

    <button mat-button  >{{'Change'|translate}}</button>
</div>


<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">{{'security_questions'|translate}}</a> 

    <a class="content" >{{question}}</a>

    <button mat-button  >{{'Update'|translate}}</button>
</div>



<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">{{'2step'|translate}}</a> 

    <a class="content" ></a>

    <button mat-button  >{{'Update'|translate}}</button>
</div>




<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">{{'account_type'|translate}}</a> 

    <a class="content" >{{type}}</a>

    <button mat-button  >{{'Update'|translate}}</button>
</div>


