.example-container {
    width: 96%;
    height: 1000px;
    margin-left: 60px;
    }

.side{
    width:300px;
    background-color: rgb(251, 245, 245);
}
.mat-drawer-content{
    background-color: white;
}

a {
    text-decoration: none;
  }
   
  .router-link-active {
    text-decoration: none;
  }
  