<html>
    
<body>
    

 
<div style="min-height:100%">
        <div>
            <a class="a"><h1 class="tips">{{'home_introduce1'|translate}}</h1>
                <br>
                <mat-form-field class="example-form-field">
                    <mat-label>{{'enter_your_email'|translate}}</mat-label>
                    <input  matInput class="input">
                    <button mat-raised-button  class="button1">Start free trial</button>
                  </mat-form-field>

                
            </a>
            <img src="assets/image/3.png" class="image" >
        </div>


        <div class="introduce">
            <div class="tips2">
                <h1 >{{'Business_able_online'| translate}}</h1>
                <a style="font-size: 13px;">{{'home_introduce2'|translate}}</a>
                <a style="margin-left: 40px;"><button  mat-button >{{'learnmore'|translate}} ></button></a>
                
            </div>
            
            <img src="assets/image/1.jpg" style="width: 100%;">
        </div>
</div>
<div>
        <footer style="position: absolute;bottom: -690px;width: 100%;"><app-tail></app-tail></footer>
        <!-- <div class="image-slider">
            <div class="slide">
                <img src="assets/image/1.jpg" alt="" class="image">
                <div class="content">
                <h1 class="title"></h1>
                <div class="description"></div>
                </div>
            </div>
        
        
            <div class="slide">
                <img src="assets/image/0.jpg" alt="" class="image">
                <div class="content">
                <h1 class="title"></h1>
                <div class="description"></div>
                </div>
            </div>
       
            
            <div class="slide">
                <img src="assets/image/2.jpg" alt="" class="image">
                <div class="content">
                <h1 class="title"></h1>
                <div class="description"></div>
                </div>
            </div>

        </div> -->
    </div>
    
</body>

</html>