<h3>Notifications</h3>

<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Immediate Payment Notification</a> 

    <a class="content">{{payment}}
       

    </a>

    <button mat-button (click)= "put2()"  >Update</button>
</div>


<mat-divider></mat-divider>

<div>
    <a style="color:black;font-size: 20px;font-weight:bold;">Push Service Notification</a> 

    <a class="content" >{{pushservice}}</a>
    <button mat-button  (click)= "put1()" >Update</button>
    
</div>
<mat-divider></mat-divider>
